@{
    ViewBag.Title = "Home Page";
}
<div class="row p-3">
    <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Formulário padrão</h4>

        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Primeiro nome</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        O primeiro nome válido é obrigatório.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Último nome</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        O sobrenome válido é obrigatório.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="username">Nome de usuário</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">A</span>
                    </div>
                    <input type="text" class="form-control" id="username" placeholder="Nome usuário" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Seu nome de usuário é obrigatório.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email <span class="text-muted">(opcional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="seuemail@example.com">
                <div class="invalid-feedback">
                    Por favor, insira um endereço de e-mail válido para atualizações de envio.
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Endereço</label>
                <input type="text" class="form-control" id="address" placeholder="Rua Brasil 123" required>
                <div class="invalid-feedback">
                    Por favor insira seu endereço de entrega.
                </div>
            </div>

            <div class="mb-3">
                <label for="address2">Endereço 2 <span class="text-muted">(opcional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartamento ou suite">
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">País</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Escolha...</option>
                        <option>Brasil</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor, selecione um país válido.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="state">Estado</label>
                    <select class="custom-select d-block w-100" id="state" required>
                        <option value="">Escolha...</option>
                        <option>Paraíba (PB)</option>
                        <option>Paraná (PR)</option>
                        <option>Pernambuco (PE)</option>
                        <option>Piauí (PI)</option>
                        <option>Rio de Janeiro (RJ)</option>
                        <option>Rio Grande do Norte (RN)</option>
                        <option>Rio Grande do Sul (RS)</option>
                        <option>Rondônia (RO)</option>
                        <option>Roraima (RR)</option>
                        <option>Santa Catarina (SC)</option>
                        <option>São Paulo (SP)</option>
                        <option>Sergipe (SE)</option>
                        <option>Tocantins (TO)</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor, forneça um estado válido.
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="zip">CEP</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        CEP requerido.
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">O endereço de envio é o mesmo que o meu endereço de faturamento</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Guarde esta informação para a próxima vez</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="credit">Cartão de crédito</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="debit">Cartão de débito</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="paypal">PayPal</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="cc-name">Nome no cartão</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                    <small class="text-muted">Nome completo conforme exibido no cartão</small>
                    <div class="invalid-feedback">
                        Nome no cartão é obrigatório
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cc-number">Número do Cartão de Crédito</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                    <div class="invalid-feedback">
                        O número do cartão de crédito é obrigatório
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">Expiração</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                    <div class="invalid-feedback">
                        Data de expiração exigida
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cc-cvv">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                    <div class="invalid-feedback">
                        Código de segurança requerido
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-sm" id="btnGravar" type="submit">
                Gravar dados <i class="fas fa-save"></i>
            </button>
        </form>

    </div>
</div>